venv/
backup/
dose/__pycache__/
home/migrations/
home/__pycache__/
shopify_app/migrations/
shopify_app/__pycache__/
.env.bak
manage.py.bak
customer.json
orders.json
product.json
medicheck create order sample response.txt
rosewaylabs_api_query.txt
test.json
test.PNG
test.py
