<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shopify App — Installation</title>

  {% load static %}

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@6.1.0/dist/styles.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'shopify_app/style.css' %}">
</head>

<body>
  <main class="container" role="main">
    <div class="Polaris-Page Polaris-Page--InstallApp">
      <div class="Polaris-Page__Content">
        <div class="Polaris-Layout">
          <div class="Polaris-Layout__Section">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h1 class="Polaris-Heading">
                  {{ app_name|default:"Sample App - Installation" }}
                </h1>
              </div>
              <div class="Polaris-Card__Section">
                <form action="{% url 'login' %}" method="post">{% csrf_token %}
                  <div class="Polaris-Label">
                    {% if not exists %}
                    <label class="Polaris-Label__Text" for='shop'>Enter your shop domain to log in <strong>or install this app. </strong>
                      </label>
                      {% else  %}
                      <label class="Polaris-Label__Text" for='shop'>CURRENT SHOP DOMAIN : <strong>{{shop.shopify_domain}}</strong> </label>
                      {% endif %}
                  </div>

                  <div class="Polaris-TextField{% if messages %} Polaris-TextField--InlineError{% endif %}">
                    <div style="display: flex;flex-direction: column;width: 100%;gap: 14px;">
                    {% if not exists %}
                    <input id="shop" name="shop" type="text" autofocus="autofocus" placeholder="example.myshopify.com"
                      class="Polaris-TextField__Input">
                        <input type="text" name="install-secret" class="Polaris-TextField__Input" placeholder="Install Secret">
                        <input type="hidden" name="action" value="install">
                        {% else %}
                        <input type="text" name="uninstall-secret" class="Polaris-TextField__Input" placeholder="Uninstall Secret">
                        <input type="hidden" name="shop-domain" value="{{shop.shopify_domain}}">
                        <input type="hidden" name="action" value="uninstall">
                        {% endif %}
                      </div>
                  </div>
                  {% if messages %}
                  {% for message in messages %}
                  <div class="Polaris-InlineError">{{ message }}</div>
                  {% endfor %}
                  {% endif %}
                  {% if not exists %}
                  <button type="submit" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeLarge">
                    <span class="Polaris-Button__Content"><span>Install app</span>
                  </button>
                  {% else %}
                  <button type="submit" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeLarge">
                    <span class="Polaris-Button__Content"><span>Uninstall app</span>
                  </button>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>