
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dose Directory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    {% include 'base/head.html' %}
    <style>
        body {
            background-color: #F3F3F3;
        }
    </style>
</head>

<body>

    <!-- Header -->

    {% include 'base/header.html' %}

    <!-- Dose Directory -->

    <section id="directory">
        <div class="container">
            <h1>Dose Directory</h1>

            <h2>Dermatologists Specialist</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Town/City</th>
                            <th>Category</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Dr Sharon Wong</td>
                            <td>London</td>
                            <td>Dermatologists Specialising in Hair </td>
                        </tr>

                        <tr>
                            <td>Dr Leilah Asfour</td>
                            <td>London</td>
                            <td>Dermatologists Specialising in Hair </td>
                        </tr>

                        <tr>
                            <td>Dr Matt Harries</td>
                            <td>Manchester</td>
                            <td>Dermatologists Specialising in Hair </td>
                        </tr>

                        <tr>
                            <td>Dr Manjit Kaur</td>
                            <td>Birmingham</td>
                            <td>Dermatologists Specialising in Hair </td>
                        </tr>

                        <tr>
                            <td>Dr Anita Takwale</td>
                            <td>Gloucestershire</td>
                            <td>Dermatologists Specialising in Hair </td>
                        </tr>

                        <tr>
                            <td>Dr Paul Farrant</td>
                            <td>Brighton</td>
                            <td>Dermatologists Specialising in Hair </td>
                        </tr>

                        <tr>
                            <td>Dr Susan Holmes</td>
                            <td>Glasgow</td>
                            <td>Dermatologists Specialising in Hair </td>
                        </tr>


                    </tbody>
                </table>
            </div>

            <h2>Hair Transplant Surgeons</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Town/City</th>
                            <th>Category</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Jessica Cross</td>
                            <td>Glasgow</td>
                            <td>Full Hair Transplant Surgical Assistant Member</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>Psychologists Specialist </h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Town/City</th>
                            <th>Category</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Dr Alex Mizara</td>
                            <td>Glasgow</td>
                            <td>Psychologists Specialising in Skin & Hair Conditions</td>
                        </tr>

                        <tr>
                            <td>Dr Reena Shah</td>
                            <td>Glasgow</td>
                            <td>Psychologists Specialising in Skin & Hair Conditions</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>*Trichology Centres</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Aderans Hair centre</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>Charities, Support Groups and Patient and Patient Education Resources</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Alopecia UK</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>British Hair and Nail Society</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>British Skin Foundation</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Changing Faces</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Cicatricial Alopecia Research Foundation</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>Hair Replaceme systems including Wigs and Hair-Pieces</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Inanch</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Trendco/Aderans</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Mandeville</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>*Hair Replaceme systems including Wigs and Hair-Pieces</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Inanch</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Trendco/Aderans</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Mandeville</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>*Micropigmentation</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Finishing Touches Group Clinic</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>*Hair Supplements</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Viviscal/Nutrafol/Nourkrin</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>*Low Level Laser Therapy (LLLT)</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Hairmax/Theradome/Current Body</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>*Supportive Hair Care</h2>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>Vichy/Nioxin</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </section>

    <!-- Footer -->

    {% include 'base/footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".close_menu").click(function () {
                $(".main_header").toggleClass("main");
            });
        });
    </script>


</body>

</html>