<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Female Hair Loss</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <style>
        body {
            background-color: #F3F3F3;
        }
    </style>
</head>

<body>

    <!-- Step Form  -->

    <section id="hair_step_form">
        <div class="container-fluid p-0">
            <form id="regForm" action="">

                <div class="width">
                    <!-- Circles which indicates the steps of the form: -->
                    <h2 class="d-flex justify-content-between align-items-center">Female Pattern Hair Loss
                        <span>1/9</span>
                    </h2>
                    <div class="progress_bar">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>

                </div>


                <!-- One -->
                <div class="tab">
                    <div class="box">
                        <h3>Question: 1</h3>
                        <h4>How old are you?</h4>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Between 18-20
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Between 21-30
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault3" checked>
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        Between 31-40
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault4">
                                    <label class="form-check-label" for="flexRadioDefault4">
                                        Between 41-50
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault5">
                                    <label class="form-check-label" for="flexRadioDefault5">
                                        Between 51-60
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault6">
                                    <label class="form-check-label" for="flexRadioDefault6">
                                        60 or over
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Two -->
                <div class="tab">
                    <div class="box">
                        <h3>Question: 2</h3>
                        <h4>Previous products and treatments used?</h4>
                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>Tick all that apply</p>

                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Mesotherapy
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault2">
                                    <label class="form-check-label" for="flexCheckDefault2">
                                        Minoxidil
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault3">
                                    <label class="form-check-label" for="flexCheckDefault3">
                                        Dermaroller
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault4">
                                    <label class="form-check-label" for="flexCheckDefault4">
                                        anti-hair loss shampoo
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault5">
                                    <label class="form-check-label" for="flexCheckDefault5">
                                        supplements
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault6">
                                    <label class="form-check-label" for="flexCheckDefault6">
                                        prescription medicines
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault7">
                                    <label class="form-check-label" for="flexCheckDefault7">
                                        low level laser therapy
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault8">
                                    <label class="form-check-label" for="flexCheckDefault8">
                                        platelet rich plasma (PRP)
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault9">
                                    <label class="form-check-label" for="flexCheckDefault9">
                                        scalp massagers
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault10">
                                    <label class="form-check-label" for="flexCheckDefault10">
                                        Dermaroller
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault11">
                                    <label class="form-check-label" for="flexCheckDefault11">
                                        Hair Oils
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault12">
                                    <label class="form-check-label" for="flexCheckDefault12">
                                        Other
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault13">
                                    <label class="form-check-label" for="flexCheckDefault13">
                                        None
                                    </label>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>


                <!-- Three -->
                <div class="tab">
                    <div class="box">
                        <h3>Question: 3</h3>
                        <h4>Where do you get your hair loss advice from?</h4>
                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>Tick all that apply</p>

                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault13">
                                    <label class="form-check-label" for="flexCheckDefault13">
                                        social media
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault14">
                                    <label class="form-check-label" for="flexCheckDefault14">
                                        friends & family
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault15">
                                    <label class="form-check-label" for="flexCheckDefault15">
                                        Google
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault16">
                                    <label class="form-check-label" for="flexCheckDefault16">
                                        hairdresser
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault17">
                                    <label class="form-check-label" for="flexCheckDefault17">
                                        GP
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault18">
                                    <label class="form-check-label" for="flexCheckDefault18">
                                        Trichologist
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault19">
                                    <label class="form-check-label" for="flexCheckDefault19">
                                        Dermatologist
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault20">
                                    <label class="form-check-label" for="flexCheckDefault20">
                                        Other
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault21">
                                    <label class="form-check-label" for="flexCheckDefault21">
                                        None
                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- Four -->
                <div class="tab">
                    <div class="box change_width female_width">
                        <h3>Question: 4</h3>
                        <h4>Please rate the severity of your hair loss based on the standardised Hamilton Norwood scale
                        </h4>

                        <div class="male_pattern">

                            <div class="form_stage">
                                <input type="radio" name="flexCheckDefault" id="flexCheckDefault22">
                                <label for="flexCheckDefault22">
                                    <img src="images/stage-1.png" alt="male" title="male" height="220" width="200">
                                    Stage 1
                                </label>
                            </div>

                            <div class="form_stage">
                                <input type="radio" name="flexCheckDefault" id="flexCheckDefault22">
                                <label for="flexCheckDefault22">
                                    <img src="images/stage-2.png" alt="male" title="male" height="220" width="200">
                                    Stage 2
                                </label>
                            </div>

                            <div class="form_stage">
                                <input type="radio" name="flexCheckDefault" id="flexCheckDefault22">
                                <label for="flexCheckDefault22">
                                    <img src="images/stage-3.png" alt="male" title="male" height="220" width="200">
                                    Stage 3
                                </label>
                            </div>

                            <div class="form_stage">
                                <input type="radio" name="flexCheckDefault" id="flexCheckDefault22">
                                <label for="flexCheckDefault22">
                                    <img src="images/stage-4.png" alt="male" title="male" height="220" width="200">
                                    Stage 4
                                </label>
                            </div>

                            <div class="form_stage">
                                <input type="radio" name="flexCheckDefault" id="flexCheckDefault22">
                                <label for="flexCheckDefault22">
                                    <img src="images/stage-5.png" alt="male" title="male" height="220" width="200">
                                    Stage 5
                                </label>
                            </div>


                        </div>





                    </div>
                </div>

                <!-- Five -->
                <div class="tab">
                    <div class="box">
                        <h3>Question: 5</h3>
                        <h4>Are you allergic to Minoxidil?
                        </h4>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7">
                            <label class="form-check-label" for="flexRadioDefault7" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Yes
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault8">
                            <label class="form-check-label" for="flexRadioDefault8">
                                No
                            </label>
                        </div>



                    </div>
                </div>

                <!-- Six -->
                <div class="tab">
                    <div class="box">
                        <h3>Question: 6</h3>
                        <h4>Do you have any of the following on your scalp?
                        </h4>

                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>Tick all that apply</p>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                id="flexCheckDefault25">
                            <label class="form-check-label" for="flexCheckDefault25" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2">
                                Redness
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                id="flexCheckDefault26">
                            <label class="form-check-label" for="flexCheckDefault26" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2">
                                Inflammation
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                id="flexCheckDefault27">
                            <label class="form-check-label" for="flexCheckDefault27" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2">
                                Open Cuts/Wounds on the Scalp
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                id="flexCheckDefault28">
                            <label class="form-check-label" for="flexCheckDefault28" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2">
                                None of the Above
                            </label>
                        </div>



                    </div>
                </div>

                <!-- Seven -->
                <div class="tab">
                    <div class="box">
                        <h3>Question: 7</h3>
                        <h4>Please select as appropriate
                        </h4>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault9">
                            <label class="form-check-label" for="flexRadioDefault9">
                                I am post-menopausal / I have no potential of falling pregnant
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault10">
                            <label class="form-check-label" for="flexRadioDefault10">
                                I am pre-menopausal and am not pregnant
                            </label>
                        </div>



                    </div>
                </div>

                <!-- Eight -->
                <div class="tab">
                    <div class="box">
                        <h3>Question: 8</h3>
                        <h4>I have a personal or family history of breast cancer?
                        </h4>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault11">
                            <label class="form-check-label" for="flexRadioDefault11">
                                Yes
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault12">
                            <label class="form-check-label" for="flexRadioDefault12">
                                No
                            </label>
                        </div>



                    </div>
                </div>

                <!-- Nine -->
                <div class="tab">
                    <div class="box">
                        <h3>Question: 9</h3>
                        <h4>How much does your hair loss affect you?
                        </h4>

                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>(0 = not affected at all, 10 = significantly
                                affected)</p>
                        </div>

                        <ul class="listing">
                            <li><a href="#" title="add">0</a></li>
                            <li><a href="#" title="add">2</a></li>
                            <li><a href="#" title="add">3</a></li>
                            <li><a href="#" title="add">4</a></li>
                            <li><a href="#" title="add">5</a></li>
                            <li><a href="#" title="add">6</a></li>
                            <li><a href="#" title="add">7</a></li>
                            <li><a href="#" title="add">8</a></li>
                            <li><a href="#" title="add">9</a></li>
                            <li><a href="#" title="add">10</a></li>
                        </ul>




                    </div>
                </div>

                <!-- Ten -->
                <div class="tab">
                    <div class="box">
                        <h3>Question: 10</h3>
                        <h4>How does the hair loss make you feel?</h4>

                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>Tick all that apply</p>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault29">
                                    <label class="form-check-label" for="flexCheckDefault29">
                                        Sad
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault30">
                                    <label class="form-check-label" for="flexCheckDefault30">
                                        Angry
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault31">
                                    <label class="form-check-label" for="flexCheckDefault31">
                                        Helpless
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault32">
                                    <label class="form-check-label" for="flexCheckDefault32">
                                        Embarrassed
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault33">
                                    <label class="form-check-label" for="flexCheckDefault33">
                                        Guilty
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault34">
                                    <label class="form-check-label" for="flexCheckDefault34">
                                        Worthless
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault35">
                                    <label class="form-check-label" for="flexCheckDefault35">
                                        Unattractive
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault36">
                                    <label class="form-check-label" for="flexCheckDefault36">
                                        Old
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault37">
                                    <label class="form-check-label" for="flexCheckDefault37">
                                        Anxious
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault38">
                                    <label class="form-check-label" for="flexCheckDefault38">
                                        Lonely
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault39">
                                    <label class="form-check-label" for="flexCheckDefault39">
                                        Frustrated
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault40">
                                    <label class="form-check-label" for="flexCheckDefault40">
                                        Overwhelmed
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="flexCheckDefault"
                                        id="flexCheckDefault41">
                                    <label class="form-check-label" for="flexCheckDefault41">
                                        Scared
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="tick_all size">
                            <p><i class="bi bi-info-circle-fill"></i>Hair loss in it’s many forms can affect
                                individuals differently and to varying extents. It is really important to know that
                                you are not alone in this experience and there is a lot of support available for
                                people living with hair loss. If you feel you need additional support please check
                                the DOSE DIRECTORY for our recommended charities, patient support groups and
                                psychologists. Remember - a problem shared, is a problem halved.</p>
                        </div>





                    </div>
                </div>



                <div class="border_bottom">
                    <div class="next_btn">
                        <button title="back" type="button" id="prevBtn" onclick="nextPrev(-1)">Back</button>
                        <button title="next" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                </div>

            </form>
        </div>
    </section>



    <!--Five Tab Step Form Modal -->

    <div class="modal fade minoxidil_popup" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row gx-0">
                        <div class="col-md-4">
                            <div class="img">
                                <img src="images/minoxidil-img-5.png" alt="Minoxidil" title="Minoxidil" height="382"
                                    width="279">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="d-flex align-items-center h-100">
                                <div class="set">

                                    <p>As DOSE for male pattern hair loss contains Minoxidil, unfortunately you will not
                                        be suitable to use this medication. You may wish to discuss alternatives with
                                        our recommended <span>DOSE DIRECTORY</span> dermatologists or consider our
                                        recommended
                                        non-pharmaceutical brands
                                    </p>
                                    <a href="#" title="Next" class="btn">Next</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Six Tab Step Form Modal -->

    <div class="modal fade minoxidil_popup" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row gx-0">
                        <div class="col-md-4">
                            <div class="img">
                                <img src="images/minoxidil-img-6.png" alt="Minoxidil" title="Minoxidil" height="382"
                                    width="279">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="d-flex align-items-center h-100">
                                <div class="set">

                                    <p>Any scalp inflammation or injury may increase your risk of developing irritation
                                        with DOSE products. Please arrange to see your GP or one of our recommended
                                        <span>DOSE DIRECTORY</span>
                                        dermatologists to diagnose and treat your scalp condition before
                                        purchasing DOSE for your hair.
                                    </p>
                                    <a href="#" title="Next" class="btn">Next</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Step Form Script -->

    <script>
        var currentTab = 0; // Current tab is set to be the first tab (0)

        showTab(currentTab); // Display the current tab

        function showTab(n) {
            // This function will display the specified tab of the form ...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            // ... and fix the Previous/Next buttons:
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "Submit";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
            }
            // ... and run a function that displays the correct step indicator:
            fixStepIndicator(n)
        }

        function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:
            if (n == 1 && !validateForm()) return false;
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form... :
            if (currentTab >= x.length) {
                //...the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        function validateForm() {
            // This function deals with validation of the form fields
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("");
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                // If a field is empty...
                if (y[i].value == "") {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false:
                    valid = false;
                }
            }
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            //... and adds the "active" class to the current step:
            x[n].className += " active";
        }
    </script>

    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>