<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Screen 86</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    {% include 'base/head.html' %}
    </style>
</head>

<body>

    {% include 'base/header.html' %}

    <section id="thanku_sec">
        <div class="d-flex align-items-center">
            <div class="img">
                <img src="/static/images/man-9.png" alt="male" title="female" height="800" width="700">
            </div>

            <div class="set">
                <h1>Thank you for completing the online consultation. Based on your
                    answers here is a summary of your product
                    recommendation.</h1>

                <a href="/consulation_result/{{form.id}}" title="Next" class="btn">Next</a>
            </div>
        </div>
    </section>


    {% include 'base/footer.html' %}







</body>

</html>