<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traction Rela Ted Hair Loss. </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    {% include 'base/head.html' %}
    <style>
        body {
            background-color: #F3F3F3;
        }
    </style>
</head>

<body>

    {% include 'base/header.html' %}
    <!-- Step Form  -->

    <section id="hair_step_form">
        {% include 'base/alert.html' %}
        <div class="container-fluid p-0">
            <form id="regForm" method="post">
                {% csrf_token %}
                <div class="width">
                    <!-- Circles which indicates the steps of the form: -->
                    <h2 class="d-flex justify-content-between align-items-center">TRACTION RELATED HAIR LOSS
                        <span>{{question_no}}/10</span>
                    </h2>
                    <div class="progress_bar">
                        
                        {% for i in steps_range %}
                        <span class="step finish"></span>
                        {% endfor %}
                        {% for i in steps_active_range %}
                        <span class="step"></span>
                        {% endfor %}
                    </div>
                </div>
                {% if question_no == '1' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="radio">
                <!-- One -->
                <div class="tab" style="display: block;">
                    <div class="box">
                        <h3>Question: 1</h3>
                        <h4>How old are you?</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answer-value" value="Between 18-30"
                                        id="flexRadioDefault1" {% if 'Between 18-30' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Between 18-30
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answer-value" value="Between 30-40"
                                        id="flexRadioDefault2" {% if 'Between 30-40' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Between 31-40
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answer-value" value="Between 40-50"
                                        id="flexRadioDefault3" {% if 'Between 40-50' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        Between 41-50
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answer-value" value="Between 50-60"
                                        id="flexRadioDefault4" {% if 'Between 50-60' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault4">
                                        Between 51-60
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answer-value" value="60 or over"
                                        id="flexRadioDefault5" {% if '60 or over' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault5">
                                        60 or over
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% elif question_no == '2' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="checkbox">
                <input type="hidden" name="checkbox-values" value="['Hair growth serum', 'Anti-hair loss shampoo','Supplements','Prescription medicines','Low level laser therapy','Platelet rich plasma (PRP)','Mesotherapy','Dermaroller','Scalp Oils','Scalp massagers','Other','None']">
                <!-- Two -->
                <div class="tab" style="display: block;">
                    <div class="box">
                        <h3>Question: 2</h3>
                        <h4>Previous products and treatments used?</h4>
                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>Tick all that apply</p>

                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="0"
                                        id="flexCheckDefault" {% if 'Hair growth serum' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Hair growth serum
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="1"
                                        id="flexCheckDefault2" {%if 'Anti-hair loss shampoo' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault2">
                                        Anti-hair loss shampoo
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="2"
                                        id="flexCheckDefault3" {% if 'Supplements' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault3">
                                        Supplements
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="3"
                                        id="flexCheckDefault4" {% if 'Prescription medicines' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault4">
                                        Prescription medicines
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="4"
                                        id="flexCheckDefault5" {% if 'Low level laser therapy' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault5">
                                        Low level laser therapy
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="5"
                                        id="flexCheckDefault6" {% if 'Platelet rich plasma (PRP)' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault6">
                                        Platelet rich plasma (PRP)
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="6"
                                        id="flexCheckDefault7" {% if 'Mesotherapy' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault7">
                                        Mesotherapy
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="7"
                                        id="flexCheckDefault8" {% if 'Dermaroller' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault8">
                                        Dermaroller
                                    </label>
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="8"
                                        id="flexCheckDefault10" {% if 'Scalp Oils' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault10">
                                        Scalp Oils
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="9"
                                        id="flexCheckDefault11" {% if 'Scalp massagers' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault11">
                                        Scalp massagers
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="10"
                                        id="flexCheckDefault12" {% if 'Other' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault12">
                                        Other
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input none" type="checkbox" name="11"
                                        id="flexCheckDefault15" {% if 'None' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault15">
                                        None
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif question_no == '3' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="checkbox">
                <input type="hidden" name="checkbox-values" value="['social media','friends & family','hairdresser','GP','Trichologist','Dermatologist','None','Other']">
                <!-- Three -->
                <div class="tab" style="display: block;">
                    <div class="box">
                        <h3>Question: 3</h3>
                        <h4>Where do you get your hair loss advice from?</h4>
                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>Tick all that apply</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="0"
                                        id="flexCheckDefault13" {% if 'social media' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault13">
                                        social media
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="1"
                                        id="flexCheckDefault14" {% if 'friends & family' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault14">
                                        friends & family
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="2"
                                        id="flexCheckDefault16" {% if 'hairdresser' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault16">
                                        hairdresser
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="3"
                                        id="flexCheckDefault17" {% if 'GP' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault17">
                                        GP
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="4"
                                        id="flexCheckDefault18" {% if 'Trichologist' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault18">
                                        Trichologist
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="5"
                                        id="flexCheckDefault19"{% if 'Dermatologist' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault19">
                                        Dermatologist
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input none" type="checkbox" name="6"
                                        id="flexCheckDefault20" {% if 'None' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault20">
                                        None
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="7"
                                        id="flexCheckDefault21" {% if 'Other' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault21">
                                        Other
                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                {% elif question_no == '4' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="radio">
                <!-- Four -->
                <div class="tab" style="display: block;">
                    <div class="box change_width ">
                        <h3>Question: 4</h3>
                        <h4>Please select the image that most resembles the extent of your hair loss.
                        </h4>
                        <div class="male_pattern justify-content-start">

                            <div class="form_stage">
                                <input type="radio" name="answer-value" value="Stage 1"  id="flexCheckDefault22" {% if 'Stage 1' in answer_value %}checked{% endif %}>
                                <label for="flexCheckDefault22">
                                    <img src="/static/images/track-1.png" alt="male" title="male" height="220" width="200">
                                    Stage 1
                                </label>
                            </div>

                            <div class="form_stage">
                                <input type="radio" name="answer-value" value="Stage 2" id="flexCheckDefault22" {% if 'Stage 2' in answer_value %}checked{% endif %}>
                                <label for="flexCheckDefault22">
                                    <img src="/static/images/track-2.png" alt="male" title="male" height="220" width="200">
                                    Stage 2
                                </label>
                            </div>

                            <div class="form_stage">
                                <input type="radio" name="answer-value" value="Stage 3" id="flexCheckDefault22" {% if 'Stage 3' in answer_value %}checked{% endif %}>
                                <label for="flexCheckDefault22">
                                    <img src="/static/images/track-3.png" alt="male" title="male" height="220" width="200">
                                    Stage 3
                                </label>
                            </div>

                            <div class="form_stage">
                                <input type="radio" name="answer-value" value="Stage 4" id="flexCheckDefault22" {% if 'Stage 4' in answer_value %}checked{% endif %}>
                                <label for="flexCheckDefault22">
                                    <img src="/static/images/track-4.png" alt="male" title="male" height="220" width="200">
                                    Stage 4
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
                {% elif question_no == '5' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="checkbox">
                <input type="hidden" name="checkbox-values" value="['Relaxers','Braids','Cornrows','Weavers','Tightponytails','Heat Straighteners']">
                <!-- Five -->
                <div class="tab" style="display: block;">
                    <div class="box">
                        <h3>Question: 5</h3>
                        <h4>What hairstyling practices have you used in the past ?
                        </h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="0" id="flexCheckDefault129" {% if 'Relaxers' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault129">
                                        Relaxers
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="1" id="flexCheckDefault130" {% if 'Braids' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault130">
                                        Braids
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="2" id="flexCheckDefault23" {% if 'Cornrows' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault23">
                                        Cornrows
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="3" id="flexCheckDefault24" {% if 'Weavers' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault24">
                                        Weavers
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="4" id="flexCheckDefault25" {% if 'Tightponytails' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault25">
                                        Tightponytails
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="5" id="flexCheckDefault26" {% if 'Heat Straighteners' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault26">
                                        Heat Straighteners
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif question_no == '6' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="checkbox">
                <input type="hidden" name="checkbox-values" value="['Relaxers','Braids','Cornrows','Weavers','Tightponytails','Heat Straighteners','None','Other']">
                <!-- Five -->
                <div class="tab" style="display: block;">
                    <div class="box">
                        <h3>Question: 6</h3>
                        <h4>What hairstyling practices do you currently use ?
                        </h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input modal-input" type="checkbox" name="0" id="flexCheckDefault129" data-bs-target="#exampleModal" {% if 'Relaxers' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault129">
                                        Relaxers
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input modal-input" type="checkbox" name="1" id="flexCheckDefault130" data-bs-target="#exampleModal" {% if 'Braids' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault130">
                                        Braids
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input modal-input" type="checkbox" name="2" id="flexCheckDefault23" data-bs-target="#exampleModal" {% if 'Cornrows' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault23">
                                        Cornrows
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input modal-input" type="checkbox" name="3" id="flexCheckDefault24" data-bs-target="#exampleModal" {% if 'Weavers' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault24">
                                        Weavers
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input modal-input" type="checkbox" name="4" id="flexCheckDefault25" data-bs-target="#exampleModal" {% if 'Tightponytails' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault25">
                                        Tightponytails
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input modal-input" type="checkbox" name="5" id="flexCheckDefault26" data-bs-target="#exampleModal" {% if 'Heat Straighteners' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault26">
                                        Heat Straighteners
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input none" type="checkbox" name="6" id="flexCheckDefault27" {% if 'None' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault27">
                                        None
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% elif question_no == '7' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="radio">
                <!-- Six -->
                <div class="tab" style="display: block;">
                    <div class="box">
                        <h3>Question: 7</h3>
                        <h4>Are you allergic to Minoxidil?
                        </h4>
                        <div class="form-check">
                            <input class="form-check-input modal-input" type="radio" name="answer-value" value="Yes" id="flexRadioDefault1" data-bs-target="#exampleModal7" {% if 'Yes' in answer_value %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer-value" value="No" id="flexRadioDefault2" {% if 'No' in answer_value %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault2">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                {% elif question_no == '8' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="checkbox">
                <input type="hidden" name="checkbox-values" value="['Redness','Inflammation','Open cuts/wounds on the scalp','None of the above']">
                <!-- Seven -->
                <div class="tab" style="display: block;">
                    <div class="box">
                        <h3>Question: 8</h3>
                        <h4>Do you have any of the following on your scalp ?
                        </h4>
                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>Tick all that apply</p>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input modal-input" type="checkbox" name="0"
                                id="flexCheckDefault25" data-bs-target="#exampleModal8" {% if 'Redness' in answer_value %}checked{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault25">
                                Redness
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input modal-input" type="checkbox" name="1"
                                id="flexCheckDefault26" data-bs-target="#exampleModal8" {% if 'Inflammation' in answer_value %}checked{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault26">
                                Inflammation
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input modal-input" type="checkbox" name="2"
                                id="flexCheckDefault27" data-bs-target="#exampleModal8" {% if 'Open cuts/wounds on the scalp' in answer_value %}checked{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault27">
                                Open cuts/wounds on the scalp
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input none" type="checkbox" name="3"
                                id="flexCheckDefault28" {% if 'None of the above' in answer_value %}checked{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault28">
                                None of the above
                            </label>
                        </div>

                    </div>
                </div>
                {% elif question_no == '9' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="radio">
                <!-- Eight -->
                <div class="tab" style="display: block;">
                    <div class="box">
                        <h3>Question: 9</h3>
                        <h4>How much does your hair loss affect you?
                        </h4>
                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>(0 = not affected at all, 10 = significantly
                                affected)</p>
                        </div>
                        <ul class="listing">
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault1" value="1" {% if '1' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault1"  style="padding:8px 22px;height: 50px;">
                                    1
                                </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault2" value="2" {% if '2' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault2" style="padding:8px 22px;height: 50px;">
                                    2
                                </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault3" value="3" {% if '3' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault3" style="padding:8px 22px;height: 50px;">
                                    3
                                </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault4" value="4" {% if '4' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault4"  style="padding:8px 22px;height: 50px;">
                                    4
                                </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault5" value="5" {% if '5' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault5" style="padding:8px 22px;height: 50px;">
                                    5
                                </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault6" value="6" {% if '6' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault6" style="padding:8px 22px;height: 50px;">
                                    6
                                </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault7" value="7" {% if '7' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault7" style="padding:8px 22px;height: 50px;">
                                    7
                                </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault8" value="8" {% if '8' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault8" style="padding:8px 22px;height: 50px;">
                                    8
                                </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault9" value="9" {% if '9' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault9" style="padding:8px 22px;height: 50px;">
                                    9
                                </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" type="radio" name="answer-value" id="flexRadioDefault10" value="10" {% if '10' in answer_value %}checked{% endif %} style="top: 11px;left:40px;height: 20px;width: 20px;visibility:hidden;">
                                <label class="form-check-label" for="flexRadioDefault10" style="padding:8px 22px;height: 50px;">
                                    10
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                {% elif question_no == '10' %}
                <input type="hidden" name="question-no" value="{{question_no}}">
                <input type="hidden" name="answer-tag-used" value="checkbox">
                <input type="hidden" name="checkbox-values" value="['Sad','Angry','Helpless','Embarrassed','Guilty','Worthless','Unattractive','Old','Anxious','Lonely','Frustrated','Overwhelmed','Scared']">
                <!-- Eight -->
                <div class="tab" style="display: block;">
                    <div class="box">
                        <h3>Question: 10</h3>
                        <h4>How does the hair loss make you feel?</h4>
                        <div class="tick_all">
                            <p><i class="bi bi-info-circle-fill"></i>Tick all that apply</p>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="0"
                                        id="flexCheckDefault29" {% if 'Sad' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault29">
                                        Sad
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="1"
                                        id="flexCheckDefault30" {% if 'Angry' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault30">
                                        Angry
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="2"
                                        id="flexCheckDefault31" {% if 'Helpless' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault31">
                                        Helpless
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="3"
                                        id="flexCheckDefault32" {% if 'Embarrassed' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault32">
                                        Embarrassed
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="4"
                                        id="flexCheckDefault33"  {% if 'Guilty' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault33">
                                        Guilty
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="5"
                                        id="flexCheckDefault34" {% if 'Worthless' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault34">
                                        Worthless
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="6"
                                        id="flexCheckDefault35" {% if 'Unattractive' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault35">
                                        Unattractive
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="7"
                                        id="flexCheckDefault36" {% if 'Old' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault36">
                                        Old
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="8"
                                        id="flexCheckDefault37" {% if 'Anxious' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault37">
                                        Anxious
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="9"
                                        id="flexCheckDefault38" {% if 'Lonely' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault38">
                                        Lonely
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="10"
                                        id="flexCheckDefault39" {% if 'Frustrated' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault39">
                                        Frustrated
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="11"
                                        id="flexCheckDefault40" {% if 'Overwhelmed' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault40">
                                        Overwhelmed
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="12"
                                        id="flexCheckDefault41" {% if 'Scared' in answer_value %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault41">
                                        Scared
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="tick_all size">
                            <p><i class="bi bi-info-circle-fill"></i>Hair loss in it’s many forms can affect
                                individuals differently and to varying extents. It is really important to know that
                                you are not alone in this experience and there is a lot of support available for
                                people living with hair loss. If you feel you need additional support please check
                                the  <a href="/dose_directory" style="color: currentColor;">DOSE DIRECTORY</a> for our recommended charities, patient support groups and
                                psychologists. Remember - a problem shared, is a problem halved.</p>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% include 'base/next-button.html' %}

            </form>
            <form method="post" id="back-form" style="display:none;">
                {% csrf_token %}
                <input type="hidden" name="action" value="back">
            </form>
        </div>
    </section>

    {% include 'base/footer.html' %}


    <!--Six Tab Step Form Modal -->

    <div class="modal fade minoxidil_popup" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row gx-0">
                        <div class="col-md-4">
                            <div class="img">
                                <img src="/static/images/traction6.png" alt="Minoxidil" title="Minoxidil" height="382"
                                    width="279">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="d-flex align-items-center h-100">
                                <div class="set">

                                    <p>Please note that ongoing tight or traumatic hairstyling will reduce the effectiveness of any treatment and ideally hair should be worn loose and natural as much as is practically possible
                                    </p>
                                    <a onclick="document.getElementById('regForm').submit();" title="Next" class="btn">Next</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--Seven Tab Step Form Modal -->

        <div class="modal fade minoxidil_popup" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row gx-0">
                        <div class="col-md-4">
                            <div class="img">
                                <img src="/static/images/minoxidil-img-15.png" alt="Minoxidil" title="Minoxidil" height="382"
                                    width="279">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="d-flex align-items-center h-100">
                                <div class="set">
                                    <p>As DOSE for traction related hair loss contains Minoxidil, unfortunately you will not be suitable to use this medication. You may wish to discuss alternatives with our recommended <a href="/dose_directory" style="color:black;">DOSE DIRECTORY</a>  dermatologists or consider our recommended non-pharmaceutical brands.
                                    </p>
                                    <a href="/dose_directory?ref={{form.id}}" title="Next" class="btn">Next</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Eight Tab Step Form Modal -->

    <div class="modal fade minoxidil_popup" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row gx-0">
                        <div class="col-md-4">
                            <div class="img">
                                <img src="/static/images/minoxidil-img-15.png" alt="Minoxidil" title="Minoxidil" height="382"
                                    width="279">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="d-flex align-items-center h-100">
                                <div class="set">

                                    <p>Any scalp inflammation or injury may increase your risk of developing irritation
                                        with DOSE products. Please arrange to see your GP or one of our recommended  <a href="/dose_directory" style="color: currentColor;">DOSE DIRECTORY</a> dermatologists to diagnose and treat your scalp condition before
                                        purchasing DOSE for your hair.
                                    </p>
                                    <a href="/dose_directory?ref={{form.id}}" title="Next" class="btn">Next</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Step Form Script -->
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>